# Functions
* function declair/define
    * function name
    * arguments
* function body
    * set of statement
* function calling
    * name()
    * pass arguments
    
## pre-define

## user-define

## return
* if store output in variable
## Non-return
* if not store output in variable
## defualt 
* not required any argument when we call
## required arguments
* function will not work without it
## optional arguments
* if we did'nt provide it function will also work with some defualt arguments value
## Generator function
* generate value one by one
* alway remember old generated value
## Lambda function
* one line function
* it has no name
* one time use only

## Recursive function
* it call in own body

# Pre-Define Functions

In [3]:
print("Hello") #function calling
print(len("hello"))#function calling
print(id("Hello"))#function calling

Hello
5
2626563222256

# Return/None-return function

In [1]:
returnFun =id("It is return function")
print(returnFun)

2197624004976

In [6]:
returnFun=len("It is a retun fuc")
print(returnFun)

17

In [4]:
nonReturn = print("Hellow World") # non return
print(nonReturn)# unable to store value in variable

Hellow World
None

# User define function
```
def function_word(arg1, arg2,..):
    statement1
    statement2
   
function_word(arg1, arg2)
```

In [7]:
def piaic_introduction(): # function declair
    print("PIAIC")# statement1
    print('courses')#2
    print("\t AI")#3
    print("\t Blockchain")#
    
    
piaic_introduction()

PIAIC
courses
	 AI
	 Blockchain

In [18]:
def PAF_introduction():
    print("Pakistan Air Force ")
    print("\t ment for air security")
    print("\t\t huge security oraganization")
    
PAF_introduction()

Pakistan Air Force
	 ment for air security
		 huge security oraganization

In [20]:
PAF_introduction()

Pakistan Air Force
	 ment for air security
		 huge security oraganization

In [21]:
def piaic_introduction(): # function declair
    txt = """
    PIAIC
    Course offer
        AI
        Blockchain
        Cloud computing
        Metaverse
    """
    return txt
    
    
print(piaic_introduction())# return function

    PIAIC
    Course offer
        AI
        Blockchain
        Cloud computing
        Metaverse

In [13]:
print(piaic_introduction())
print(piaic_introduction())

    PIAIC
    Course offer
        AI
        Blockchain
        Cloud computing
        Metaverse


    PIAIC
    Course offer
        AI
        Blockchain
        Cloud computing
        Metaverse

In [28]:
def PAF_introduction():
    txt = """
    PAF take
        youngsters for 
            fighting force
    
    """
    return txt
print(PAF_introduction())

    PAF take
        youngsters for
            fighting force

In [30]:
print(PAF_introduction())

    PAF take
        youngsters for
            fighting force

# required arguments

In [15]:
def addtion(num1, num2):
    return num1 + num2

print(addtion(7,20))
print(addtion(5,20))
print(addtion(6,9))

27
25
15

In [55]:
addtion(7)#both argumnts shoul be taken

NameError: name 'addtion' is not defined

In [49]:
def addition(num1,num2):
    return num1+num2
print(addition(5,2))
print(addition(10,11))

7
21

In [50]:
addition(7,2)

9

In [54]:
def substraction(num1,num2):
    return num1-num2
print(substraction(10,2))

8

# Optional arguments

In [18]:
def addtion(num1=0, num2=0): #arg=value
    return num1 + num2

print(addtion())
print(addtion(1))
print(addtion(2,3))

0
1
5

In [56]:
def substraction(num1=0, num2=0): 
    return num1-num2

print(substraction())
print(substraction(1))
print(substraction(2,1))

0
1
1

# required and optional arguments

In [25]:
def making_biryani(rice,meat, tamato="0.5 KG"):
    txt = f"""
    Boiling {rice} rice...
    making qorma with {meat} meat...
    mixing tamato {tamato}...
    Now you enjoy biryani :)
    """
    
    return txt

a = making_biryani("Sehla",'chiken')
print(a)
print(a)
print(a)

    Boiling Sehla rice...
    making qorma with chiken meat...
    mixing tamato 0.5 KG...
    Now you enjoy biryani :)


    Boiling Sehla rice...
    making qorma with chiken meat...
    mixing tamato 0.5 KG...
    Now you enjoy biryani :)


    Boiling Sehla rice...
    making qorma with chiken meat...
    mixing tamato 0.5 KG...
    Now you enjoy biryani :)

In [65]:
def making_cake(doubleRoti,milk,sugar="0.5 kg"):
    txt = f"""
    boiling {milk} for 5 mints..
    mixing sugar {sugar}...
    adding {doubleRoti}...
    now you enjoy a sweet cake :)
    """
    return txt

a = making_cake("bread","1 kg milk")
print(a)
print(a)

    boiling 1 kg milk for 5 mints..
    mixing sugar 0.5 kg...
    adding bread...
    now you enjoy a sweet cake :)


    boiling 1 kg milk for 5 mints..
    mixing sugar 0.5 kg...
    adding bread...
    now you enjoy a sweet cake :)

In [63]:
print(print("Pakistan"))

Pakistan
None

In [26]:
print(making_biryani("Basmati",'beaf','1 KG'))

    Boiling Basmati rice...
    making qorma with beaf meat...
    mixing tamato 1 KG...
    Now you enjoy biryani :)

In [66]:
print(making_cake('koya','maida',"2 kg"))

    boiling maida for 5 mints..
    mixing sugar 2 kg...
    adding koya...
    now you enjoy a sweet cake :)

# optional argument2 unlimited

In [33]:
def my_sum(num1,*num): # *num 
    print(num1,num)
    return num1 + sum(num)

my_sum(7,2,2,3,4,5)

7 (2, 2, 3, 4, 5)

23

In [68]:
def my_sum(num1,*num):
    print(num1,num)
    return num1 + sum(num)
my_sum(1,2,3,4,5)

1 (2, 3, 4, 5)

15

In [34]:
def my_sum(num1,num2,*num): # *num 
    print(num1,num2,num)
    return num1 + num2 +sum(num)

my_sum(7,2,2,3,4,5)

7 2 (2, 3, 4, 5)

23

In [69]:
def my_sum(num1,num2,*num):
    print(num1,num2,num)
    return num1 + num2 + sum(num)
my_sum(1,2,3,4,5)

1 2 (3, 4, 5)

15

In [35]:
def my_sum(*num): # *num during define = tuple
    print(num)
    return sum(num)

my_sum(7,2,2,3,4,5)

(7, 2, 2, 3, 4, 5)

23

In [71]:
def my_sum(*num):
    print(num)
    return sum(num)
my_sum(1,2,3,4,5)

(1, 2, 3, 4, 5)

15

In [36]:
a, b = [20,25] # unzip
print(a)
print(b)

20
25

In [72]:
a,b =[10,20]
print(a)
print(b)

10
20

In [41]:
l = [1,20,30,50,100]
print(l[0],l[1],l[2],l[3],l[4])
print(*l) #during call * before iterated datatype = unzip values
print(1,20,30,50,100)
print(l)

1 20 30 50 100
1 20 30 50 100
1 20 30 50 100
[1, 20, 30, 50, 100]

In [76]:
l = [1,2,3]
print(l[0],l[1],l[2])
print(*l)
print(1,2,3)
print(l)

1 2 3
1 2 3
1 2 3
[1, 2, 3]

In [80]:
my_sum(*l)

(1, 2, 3)

6

In [43]:
my_sum(*l)

(1, 20, 30, 50, 100)

201

In [90]:
def my_new_sum(num1,num2,num3,num4):
    return num1 + num2 + num3 + num4

l = [10,20,30,40]

# my_new_sum(*l)
# my_new_sum(l[0],l[1],l[2],l[3])
my_new_sum(50,l[0],*l[-2:])

130

In [105]:
print(50,l[0],l[-2:])
print(50,l[0],*l[-2:])

50 1 [2, 3]
50 1 2 3

In [104]:
def my_new_sum(num1,num2,num3):
    return num1 + num2 + num3
l =[1,2,3]
#my_new_sum(*l)
#my_new_sum(l[0],l[1],l[2])
my_new_sum(1,l[2],*l[-1:])

7

# Calling Functions with Keyword Arguments

In [5]:
def student_card(name, rollno, fname, course):
    card = f"""
   "PIAIC Student Identity Card"
    Name: {name}
    Roll No: {rollno}
    Father Name: {fname}
    Course: {course}
    """
    return card
print(student_card("Gulshan", 1, "Liaqat", "AI"))
print(student_card("Farhan", 2, "Gulshan", "Machine Learning"))

   "PIAIC Student Identity Card"
    Name: Gulshan
    Roll No: 1
    Father Name: Liaqat
    Course: AI


   "PIAIC Student Identity Card"
    Name: Farhan
    Roll No: 2
    Father Name: Gulshan
    Course: Machine Learning

In [62]:
def student_card(name, rollno, fname, course):
    card = f"""
   "PIAIC Student Identity Card"
    Name: {name}
    Roll No: {rollno}
    Father Name: {fname}
    Course: {course}
    """
    return card
print(student_card(1, "CA", "Liaqat", "Gulshan"))

   "PIAIC Student Identity Card"
    Name: 1
    Roll No: CA
    Father Name: Liaqat
    Course: Gulshan

In [63]:
print(student_card(name="Gulshan", rollno=1, fname="Liaqat", course="CA"))

   "PIAIC Student Identity Card"
    Name: Gulshan
    Roll No: 1
    Father Name: Liaqat
    Course: CA

In [65]:
l = ["Shahid",1, "Liaqat", "cloud Computing"]
print(student_card(*l)) #If we pass positional arguments with list = *list

   "PIAIC Student Identity Card"
    Name: Shahid
    Roll No: 1
    Father Name: Liaqat
    Course: cloud Computing

In [66]:
dic = {"rollno":1, "name": "Gulshan", "fname":"Liaqat", "course": "AI"}
print(student_card(**dic)) # pass keyword argument = **dictionary

   "PIAIC Student Identity Card"
    Name: Gulshan
    Roll No: 1
    Father Name: Liaqat
    Course: AI

In [74]:
d1 = {"name":"Shahid",
     "fname":"Liaqat",
     "rollno":2,
     "course":"AI"}

print(student_card(**d1)) # pass keyword argument = **dictionary

None

# Create Ketword argument unlimited

In [16]:
def my_func(num1,num2, **xyz):# ** dictionary
    print(num1,num2,xyz)
    
my_func(1,2,len=10, age=30, course="AI")

1 2 {'len': 10, 'age': 30, 'course': 'AI'}

In [26]:
def my_func(num1,num4, *l, **dic): #passing list & dictionary as arguments
    print(num1,num4,l,dic)
    
my_func(12,23,"Ali", 'Shahid', "c", 'd', name="Gulshan",rollno=1,course="AI")

12 23 ('Ali', 'Shahid', 'c', 'd') {'name': 'Gulshan', 'rollno': 1, 'course': 'AI'}

# Lambda function

In [3]:
def add(num1,num2):
    return num1 + num2
add(5,12)

17

In [7]:
b = lambda num1,num2: num1 + num2 # lambda arg1,arg2 : function_body
b(2,4)

6

In [32]:
data = [[1,"A","Z"],
       [2,"B","Y"],
       [3,"C","X"]]
sorted(data, key=lambda x:x[1])#sorted data in ascendig order

[[1, 'A', 'Z'], [2, 'B', 'Y'], [3, 'C', 'X']]

In [38]:
sorted(data, key=lambda y:y[2])# sorting in reverse order

[[3, 'C', 'X'], [2, 'B', 'Y'], [1, 'A', 'Z']]

In [40]:
sorted(data, key=lambda x:x[2], reverse=True)

[[1, 'A', 'Z'], [2, 'B', 'Y'], [3, 'C', 'X']]

In [78]:
sorted(data, key=lambda x:x[2], reverse=True)

[[3, 'X', 'C'], [2, 'Y', 'B'], [1, 'Z', 'A']]

# Generator Function

In [42]:
range(1,10)

range(1, 10)

In [43]:
list(range(1,12))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [55]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [53]:
l1 = [1,2,3]
l2 = ['a','b','c']
l3 = zip(l1,l2)
l3

In [88]:
l3 = zip(l1,l2)
print(l3)
print(next(l3))
print(next(l3))

<zip object at 0x7f841d896410>
(1, 'a')
(2, 'b')

In [82]:
list(zip(l1,l2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [84]:
for i in zip(l1,l2):
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')

In [97]:
def my_gen(s,e):
    for i in range(s,e+1):
        yield i
        
        
abc = my_gen(1,10)
print(abc)
print(next(abc))
print(next(abc))
print(next(abc))
print(next(abc))
print(next(abc))
print(next(abc))
print(next(abc))
print(next(abc))
print(next(abc))
print(next(abc))

<generator object my_gen at 0x7f841d4d50d0>
1
2
3
4
5
6
7
8
9
10

In [98]:
for i in  my_gen(1,10):
    print(i)

1
2
3
4
5
6
7
8
9
10

# Recursive

In [105]:
def countdown(n):
    print(n)
    if n == 0:
        return             # Terminate recursio
    else:
        countdown(n - 1) 
countdown(5)

5
4
3
2
1
0